<h2>My Cart</h2>
<% if @line_items.empty? %>
	<p>Nothing here yet. Let's get back to shopping!</p>
<% else %>
<% @line_items.each do |line_item| %>
	<div class="row">
		<div class="well short-well">
			<div class="col-md-4">
				<h3><%= line_item.product.name %></h3>
				<p><%= number_to_currency line_item.product.price %></p>
				<p>Qty: <%= line_item.quantity %></p>
				<p>Subtotal: <%= number_to_currency line_item.line_item_total %></p>
			</div>
			<div class="col-md-2 col-md-offset-3">
				<%= image_tag line_item.product.image.url, width: "200" %>
			</div>
		</div>
		<p><%= link_to "Remove Item from Cart", remove_from_cart_path(id: line_item.id) %></p>
	</div>
<% end %>
<% end %>

<div>
	<p>
		<%= link_to "Continue Shopping", root_path, class: "btn btn-info" %>
	</p>
	<p>
		<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
	</p>
</div>
